html {
  padding: 0;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(29, 29, 28, 0.863)), to(rgba(29, 29, 28, 0.863))), url(images/background_earth.jpg);
  background-image: linear-gradient(to right, rgba(29, 29, 28, 0.863), rgba(29, 29, 28, 0.863)), url(images/background_earth.jpg);
  background-size: cover;
  overflow: hidden;
  font-family: 'Inspiration', cursive;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.header {
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-size: 3em;
}

.flex-container {
  position: absolute;
  top: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  gap: 3em;
}

.contribution {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.contribution a {
  color: white;
  text-decoration: none;
  font-size: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 10px;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.animal {
  padding: 4px;
  border: 3px solid black;
  border-radius: .5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  -webkit-transition: all .07s ease;
  transition: all .07s ease;
}

.animal .label {
  margin-top: 2px;
}

.playing {
  padding: 4px;
  border: 3px solid #27b427;
  border-radius: .5em;
  -webkit-box-shadow: 0 0 1rem #27b427;
          box-shadow: 0 0 1rem #27b427;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.chicken {
  position: absolute;
  top: 30%;
  width: 320px;
  height: 213px;
  background: url(images/chicken_pic.jpg);
  background-size: contain;
  border-radius: 1em;
}

.wolf {
  position: absolute;
  top: 30%;
  width: 320px;
  height: 213px;
  background: url(images/wolf_pic.jpg);
  background-size: contain;
  border-radius: 1em;
}

.cow {
  position: absolute;
  top: 30%;
  width: 320px;
  height: 213px;
  background: url(images/cow_pic.jpg);
  background-size: contain;
  border-radius: 1em;
}

.elephant {
  position: absolute;
  top: 30%;
  width: 320px;
  height: 213px;
  background: url(images/elephant_pic.jpg);
  background-size: contain;
  border-radius: 1em;
}

.gorilla {
  position: absolute;
  top: 30%;
  width: 320px;
  height: 213px;
  background: url(images/gorilla_pic.jpg);
  background-size: contain;
  border-radius: 1em;
}

.pig {
  position: absolute;
  top: 30%;
  width: 320px;
  height: 213px;
  background: url(images/pig_pic.jpg);
  background-size: contain;
  border-radius: 1em;
}
/*# sourceMappingURL=main.css.map */